* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Arial Narrow Bold", sans-serif;
  line-height: 1.5em;
  overflow-x: hidden;
}

p {
  font-family: font1;
}
h1 {
  text-align: center;
  font-family: font1;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 2px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
h3 {
  font-family: font1;
  letter-spacing: 1px;
}

@font-face {
  font-family: "font1";
  src: url(./fonts/GilbertQualifiDemo.ttf);
}

/*           NAVIGATION BAR       */
#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  box-shadow: 0px 3px 10px #ccc;
  background-color: #fff;
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 1;
  font-family: font1;
}
.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

/* Style for the logo container */
.logo {
  margin-left: 150px;
}
.logo a img {
  width: 200px;
  height: 70px;
}
.logo:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
}

/* Style for the tabs container */
.tabs {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-right: 150px;
}

/* Style for each tab */
.tab {
  font-size: 26px;
  letter-spacing: 1px;
  color: rgb(5, 107, 203);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  position: relative;
}

/* Style for hover effect on each tab */
.tab:hover {
  background-color: #3399ff;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
}

.tab.selected {
  background-color: #ddd;
}

.tab.selected::after {
  transform: scaleX(1);
  width: 100%;
}

/* Style for active tab */
#navbar .tab.current {
  color: #fff;
  background-color: #3399ff;
  border-radius: 10px;
}

/*          HOME         */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}

.photocontent {
  width: 100vw;
  height: 100vh;
  background: url(./img/index/Index\ photo.webp) no-repeat center center/cover;
}

.photocontent .info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  padding: 100px;
}
.photocontent h1 {
  text-align: center;
  font-size: 150px;
  padding-bottom: 100px;
  font-family: font1;
  opacity: 1;
  text-shadow: 2px 2px 5px #000000;
  color: white;
}

.index-photos {
  justify-content: center;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.photo {
  display: flex;
  width: 40%;
  height: 200px;
  transition: transform 0.2s ease-in-out;
}

.index-photos .photo:hover {
  transform: scale(1.2);
}
.content-1 {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-content1 {
  width: 50%;
  padding: 30px;
  text-align: left;
  margin-top: 20px;
}

.text-content1 p {
  font-size: 26px;
  line-height: 2rem;
  letter-spacing: 2px;
  font-family: font1;
}

/*    UPPER CONTENT     */

.upper-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.upper-img {
  width: 1000px;
  padding-top: 300px;
  padding-bottom: 300px;
}
.content {
  width: 800px;
}
.upper-content p {
  text-align: center;
}
/*      MIDDLE CONTENT       */
.middle-content {
  margin-top: 40px;
  display: flex;
  width: 75%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.video {
  width: 100%;
  height: 100%;
}

/*         LOWER CONTENT        */
.lower-text {
  margin-top: 200px;
}
.lower-text h1 {
  font-size: 100px;
}

#lower-content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.view-more {
  text-align: right;
  width: 80%;
  margin-top: 50px;
}

.view-more button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 14px 50px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.view-more button a {
  color: #fff;
  text-decoration: none;
}

.view-more button:hover {
  background-color: #0056b3;
}

/*          FOOTER         */
#footer {
  background-color: rgb(5, 107, 203);
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  margin-top: 235px;
  position: relative;
}
p.copyright {
  position: absolute;
  width: 100%;
  color: #fff;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  bottom: 0;
  font-family: roboto;
}
.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-right: 250px;
  margin-bottom: 100px;
}

.box {
  text-align: center;
  width: 200px;
  height: 200px;
}
.box h2 {
  color: white;
  font-family: roboto;
  margin-bottom: 50px;
}
.box p {
  padding: 1px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: Roboto;
}
.logo-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin-bottom: 200px;
}
.logo-footer a img {
  width: 200px;
  height: 70px;
}

.logo-footer:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
}
.socials {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.social {
  font-size: 32px;
  width: 50px;
  height: 50px;
}

.fa-instagram {
  color: #ffffff;
}
.fa-facebook {
  color: #ffffff;
}
.fa-twitter {
  color: #ffffff;
}
.fa-youtube {
  color: #ffffff;
}

/*     BEACHES     */
.beachcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 95vh;
  flex-direction: column;
  margin-bottom: 100px;
  position: relative;
  top: 70px;
}
#slideshow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80%;
}
#slideshow img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-content: center;
}
#indicator {
  position: absolute;
  display: flex;
  height: 50px;
  bottom: 0;
  justify-content: center;
  align-content: center;
  gap: 30px;
  margin-bottom: 100px;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 70px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 32px;
  transition: 0.6s ease;
  background-color: #71717100;
  border: white;
  height: 100%;
  z-index: 1;
}
.prev {
  left: 0%;
}

.next {
  right: 0%;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: #c2c2c267;
}

.beach-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 60%;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  padding: 100px;
  flex-direction: column;
}

.beach-info h1 {
  text-align: center;
  font-size: 150px;
  font-family: font1;
  opacity: 1;
  text-shadow: 2px 2px 5px #000000;
  color: white;
  margin-top: 40px;
}

.beach-info p {
  line-height: 1.5em;
  text-shadow: 2px 2px 5px #000000;
  color: white;
  font-size: 20px;
  text-align: left;
  padding-top: 70px;
}
.dot {
  cursor: pointer;
  height: 100px;
  width: 100px;
  margin: 20px 2px;
  background-color: rgba(187, 187, 187, 0.1);
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.6s ease;
  box-shadow: 5px 10px 10px #888888;
}
.bg1 {
  background: url("./img/slideshow/16256-118729-f72734259_3xl.webp") no-repeat
    center center/cover;
}
.bg2 {
  background: url("./img/slideshow/goingoutskiathos_1750x680.jpg") no-repeat
    center center/cover;
}
.bg3 {
  background: url("./img/slideshow/paralia.jpg") no-repeat center center/cover;
}
.bg4 {
  background: url("./img/slideshow/lalaria\ sunset.jpg") no-repeat center
    center/cover;
}
.bg5 {
  background: url("./img/slideshow/skiathos-greece.jpg") no-repeat center
    center/cover;
}
.bg6 {
  background: url("./img/slideshow/Aerial\ bourtzi.webp") no-repeat center
    center/cover;
}
.bg7 {
  background: url("./img/slideshow/agia\ paraskevi.jpg") no-repeat center
    center/cover;
}

.active,
.dot:hover {
  background-color: #717171;
  opacity: 1;
  transform: scale(1.1);
}
.beach-text {
  margin-top: 300px;
}
.beach-text h1 {
  font-size: 60px;
}

/*          CARDS OF BEACHES     */
.cardcontent {
  margin-top: 150px;
  width: 100%;
  display: flex;
  height: auto;
  justify-content: center;
}
.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 50px;
  height: 100%;
}
.card {
  flex: 0 0 20%;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
  transform: translate(0, 0);
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
}
.card .text {
  padding: 20px 20px 20px;
}
.text {
  height: 320px;
}
.text p {
  font-weight: bold;
  font-family: Arial;
  padding: 20px;
}
.text h3 {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 20px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: translate(-10px, -10px);
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}
.card .text > button {
  background: #007bff;
  border: none;
  color: white;
  padding: 10px;
  width: 90%;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
}

/*       DESTINATIONS    */

#destinations {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

#destinations::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(./img/destinations/Destinations.jpg) no-repeat center
    center/cover;
  opacity: 0.8;
  z-index: -1;
}

#destinations h1 {
  color: rgb(255, 255, 255);
  font-size: 80px;
  margin-top: 150px;
  letter-spacing: 5px;
  text-shadow: 2px 2px 5px #000000;
}

.destination-tab {
  width: 80%;
  margin: 150px auto;
  text-align: center;
  position: relative;
}

.destination-tab h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.destination-tab ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.destination-tab li {
  width: 300px;
  margin: 30px;
  text-align: left;
  background-color: #f2f2f2;
  padding: 40px;
  box-shadow: 2px 2px 10px #ccc;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.destination-tab h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.destination-tab p {
  font-size: 18px;
  color: #333;
  line-height: 1.5;
}

.destination-tab .image-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
}

/* Add unique background images for each tab */
.bar-clubs .image-bg {
  background-image: url("./img/bar.jpg");
}

.restaurants .image-bg {
  background-image: url("./img/restaurant.jpg");
}

.places-to-be .image-bg {
  background-image: url("./img/museum.jpg");
}

/* Add hover effect */
.destination-tab li:hover {
  transform: translateY(-10px);
  box-shadow: 2px 12px 20px #ccc;
}

.destination-tab li:hover .image-bg {
  opacity: 1;
}

/*          ABOUT US       */

#about-us {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

#about-us::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(./img/about-us/about-us.jpg) no-repeat center center/cover;
  opacity: 0.8;
  z-index: -1;
}

#about-us h1 {
  color: rgb(255, 255, 255);
  font-size: 80px;
  margin-top: 150px;
  letter-spacing: 5px;
  text-shadow: 2px 2px 5px #000000;
}
.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
}
.about-image {
  width: 50%;
}
.about-image img {
  width: 600px;
}
.about-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.about-text p {
  font-family: roboto;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.05em;
}

/*     CONTACT       */

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #eda71a;
  color: rgb(4, 4, 4);
  padding: 12px 20px;
  width: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  font-family: Roboto;
}
input[type="submit"]:hover {
  background-color: #4568a0;
}
label {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 18px;
}

#contact-form {
  animation: moveInFromLeft 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-top: 100px;
  border-radius: 20px;
  background-color: rgb(2, 65, 123);
  padding: 50px;
}
.form-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -1;
}

.form-inner-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  width: 50%;
}

.contact-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation: moveInFromRight 1s ease-in-out;
  width: 50%;
}
.contact-text h1 {
  color: rgb(2, 65, 123);
  font-size: 100px;
  margin-bottom: 80px;
}
.contact-text p {
  font-size: 28px;
  text-align: center;
  color: rgb(2, 65, 123);
}

@keyframes moveInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes moveInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.mapcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map {
  bottom: 0;
  margin-top: 100px;
  width: 70%;
  height: 400px;
}

.services h2 {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  font-size: 50px;
  font-family: font1;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  width: 100%;
  margin-top: 80px;
}
.image {
  width: 20%;
  height: 250px;
  padding: 20px;
  text-align: center;
}
.image h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
.image p {
  font-family: Arial, Helvetica, sans-serif;
  /* font-weight: bold; */
  font-size: 18px;
}
